header {
  background-color: #BB2339;
  width: 100%;
  height: 880px;
}

a {
  text-decoration: none;
}

.header-link {
  background-color: #BB2339;
  position: relative;
  width: 100%;
  height: 100px;
  padding: 26px 0px 0px 0px;
}
.header-link .logo {
  position: relative;
  left: -150px;
}
.header-link .menu {
  position: relative;
  left: 600px;
  padding: 0px 40px 0px 0px;
  color: white;
}
.header-link .header-button {
  position: relative;
  left: 1250px;
  width: 131px;
  height: 48px;
  background-color: #BB2339;
  border-radius: 100px;
  color: white;
  border: 1px solid #FFF;
}

.header-button:hover {
  color: white;
  border: 2px solid #f8a0ad;
  background-color: rgb(252, 11, 11);
}