body {
   height: 1000px;
}

header {
   height: 100px;
}

.menu9 {
   position: relative;
   top: 100px;
   background-color: #BB2339;
   width: 350px;
   border-radius: 25px;
   height: 644px;
   h1 {
      padding: 20px 0px 20px 10px;
   }
   .button1 {
      position: relative;
      left: 20px;
      background-color: #BB2339;
      border-radius: 25px;
      border: 2px solid white;
      color: white;
      width: 82px;
      height: 48px;
   }
   .button2 {
      position: relative;
      top: 50px;
      left: -68px;
      background-color: #BB2339;
      border-radius: 25px;
      border: 2px solid white;
      color: white;
      width: 124px;
      height:  48px;
   }
   .button3 {
      position: relative;
      top: 100px;
      left: -198px;
      background-color: #BB2339;
      border-radius: 25px;
      border: 2px solid white;
      color: white;
      width: 108px;
      height: 48px;
   }
   .button4 {
      position: relative;
      top: 103px;
      left: 20px;
      background-color: #BB2339;
      border-radius: 25px;
      border: 2px solid white;
      color: white;
      width: 138px;
      height: 48px;
   }
   .button5 {
      position: relative;
      top:  151px;
      left: -123px;
      background-color: #BB2339;
      border-radius: 25px;
      border: 2px solid white;
      color: white;
      width: 181px;
      height: 48px;
   }
   .button6 {
      position: relative;
      top: 152px;
      left: 20px;
      background-color: #BB2339;
      border-radius: 25px;
      border: 2px solid white;
      color: white;
      width: 82px;
      height: 48px;
   }
   .button7 {
      position: relative;
      top: 200px;
      left: -70px;
      background-color: #BB2339;
      border-radius: 25px;
      border: 2px solid white;
      color: white;
      width: 107px;
      height: 48px;
   }
   .button8 {
      position: relative;
      top: 297px;
      left: -180px;
      background-color: #BB2339;
      border-radius: 25px;
      border: 2px solid white;
      color: white;
      width: 123px;
      height: 48px;
   }
   .button9 {
      position: relative;
      top: 200px;
      left: 20px;
      background-color: #BB2339;
      border-radius: 25px;
      border: 2px solid white;
      color: white;
      width: 141px;
      height: 48px;
   }
}

.manuu1 {
   h3 {
      padding: 20px 0px 20px 0px;
      font-size: 20px;
   }
   .narx {
      color: #BB2339;
      font-size: 30px;
   }
   margin-top: -500px;
   margin-left: 400px;
   background-color: whitesmoke;
   width: 400px;
   height: 368px;
   img {
      margin-left: 50px;
   }
}
.manuu2 {
   h3 {
      padding: 20px 0px 20px 0px;
      font-size: 20px;
   }
   .narx {
      color: #BB2339;
      font-size: 30px;
   }
   margin-top: -370px;
   margin-left: 850px;
   background-color: whitesmoke;
   width: 400px;
   height: 368px;
   img {
      margin-left: 50px;
   }
}
.manuu3 {
   h3 {
      padding: 20px 0px 20px 0px;
      font-size: 20px;
   }
   .narx {
      color: #BB2339;
      font-size: 30px;
   }
   margin-top: 30px;
   margin-left: 400px;
   background-color: whitesmoke;
   width: 400px;
   height: 368px;
   img {
      margin-left: 50px;
   }
}
.manuu4 {
   h3 {
      padding: 20px 0px 20px 0px;
      font-size: 20px;
   }
   .narx {
      color: #BB2339;
      font-size: 30px;
   }
   margin-top: -370px;
   margin-left: 850px;
   background-color: whitesmoke;
   width: 400px;
   height: 368px;
   img {
      margin-left: 50px;
   }
}

.manuu5 {
   h3 {
      padding: 20px 0px 20px 0px;
      font-size: 20px;
   }
   .narx {
      color: #BB2339;
      font-size: 30px;
   }
   margin-top: 30px;
   margin-left: 400px;
   background-color: whitesmoke;
   width: 400px;
   height: 368px;
   img {
      margin-left: 50px;
   }
}
.manuu6 {
   h3 {
      padding: 20px 0px 20px 0px;
      font-size: 20px;
   }
   .narx {
      color: #BB2339;
      font-size: 30px;
   }
   margin-top: -370px;
   margin-left: 850px;
   background-color: whitesmoke;
   width: 400px;
   height: 368px;
   img {
      margin-left: 50px;
   }
}
.manuu7 {
   h3 {
      padding: 20px 0px 20px 0px;
      font-size: 20px;
   }
   .narx {
      color: #BB2339;
      font-size: 30px;
   }
   margin-top: 30px;
   margin-left: 400px;
   background-color: whitesmoke;
   width: 400px;
   height: 368px;
   img {
      margin-left: 50px;
   }
}
.manuu8 {
   h3 {
      padding: 20px 0px 20px 0px;
      font-size: 20px;
   }
   .narx {
      color: #BB2339;
      font-size: 30px;
   }
   margin-top: -370px;
   margin-left: 850px;
   background-color: whitesmoke;
   width: 400px;
   height: 368px;
   img {
      margin-left: 50px;
   }
}
.section5 {
   background-color: #f1ecee;
   margin-top: 650px;
   height: 700px;
   h4 {
      padding: 219px 0px 0px 0px;
      font-size: 23px;
   }
   p {
      color: #AAA;
      padding: 20px 0px 20px 0px ;
   }
   .menubutton2 {
      border-radius: 100px;
      background-color: white;
      border: 1px solid #BB2339;
      width: 148px;
      height: 44px;
   }
   .qqq {
      position: relative;
      top: -350px;
      left: 800px;
   }

}